#Не храним папку Bitrix в GIT
/bitrix/*

#Хранить Upload тоже нет смысла
/upload/

#По желанию добавляем свои папки и файлы (можно из PHPStorm).
/.idea

*.tar.gz
*.zip
*.pdf

/local/php_interface/vendor

#Логи
/logs/*
*.log